<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرد</title>
</head>
<body>
    <h1><%= responseMessage %></h1>
    
</body>
</html>